/* ============================== */ 
/* Zeta import: 'tests/res/blocks/b1/b12/b12.css' */ 
/* From: 'tests/res/blocks/b1/b1.css' */ 

.b12 {
	background: url(blocks/b1/b12/test.png);
	color: #333}
/* ============================== */ 
/* Zeta import: 'tests/res/blocks/b1/b1.css' */ 
/* From: '/home/klen/Projects/github.com/zeta-library/tests/res/test.css' */ 

.test {
	background: url(blocks/b1/lala.jpg);
	margin: 0}
/* ============================== */ 
/* Zeta import: 'tests/res/other.css' */ 
/* From: '/home/klen/Projects/github.com/zeta-library/tests/res/test.css' */ 

.other {
	padding: 1em}