// #444 looks better than black
$base-color: #444 !default;
$base-selection-color: #FF5E99 !default;
$link-visited-color: #607890 !default;
$link-hover-color: #036 !default;

$base-font: Georgia !default;


@mixin z-fonts {
    body { font:13px/1.231 sans-serif; *font-size:small; }
    select, input, textarea, button { font:99% sans-serif; }
    pre, code, kbd, samp { font-family: monospace, sans-serif; } }

@mixin z-base-form {
    // www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars
    textarea {
        overflow: auto; } 

    input[type="radio"] {
        vertical-align: text-bottom; }

    input[type="checkbox"] {
        vertical-align: bottom; }

    .ie7 input[type="checkbox"] {
        vertical-align: baseline; }

    .ie6 input {
        vertical-align: text-bottom; }

    // hand cursor on clickable input elements
    label, input[type="button"], input[type="submit"], input[type="image"], button {
        cursor: pointer; }

    label {
        font-weight:bold; }

    // webkit browsers add a 2px margin outside the chrome of form elements
    button, input, select, textarea {
        margin: 0; }

    // colors for form validity
    input:valid, textarea:valid   {  }
    input:invalid, textarea:invalid {
        border-radius: 1px;
        -moz-box-shadow: 0px 0px 5px red;
        -webkit-box-shadow: 0px 0px 5px red;
        box-shadow: 0px 0px 5px red; } }

@mixin z-base {

    @include z-base-form;

    body, select, input, textarea {
    color: $base-color;
    font-family: $base-font, serif; }

    h1,h2,h3,h4,h5,h6 {
        font-weight: bold; }

    // always force a scrollbar in non-IE:
    html {
        overflow-y: scroll; }

    // accessible focus treatment
    a:hover, a:active {
        outline: none; }
    a, a:active, a:visited {
        color: $link-visited-color; }
    a:hover {
        color: $link-hover-color; }

    ul, ol {
        margin-left: 1.8em; }
    ol {
        list-style-type: decimal; }

    // remove margins for navigation lists */
    nav {
        ul, li { margin: 0; } }
        
    small {
        font-size: 85%; }

    strong, th {
        font-weight: bold; }

    td, td img {
        vertical-align: top; }

    // set sub, sup without affecting line-height
    sub, sup {
        font-size: 75%; line-height: 0; position: relative; }

    sup {
        top: -0.5em; }

    sub {
        bottom: -0.25em; }

    pre {
        padding: 15px;
        word-wrap: break-word;
        white: {
            space: pre; /* CSS2 */
            space: pre-wrap; /* CSS 2.1 */
            space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
        }
    }

    /* These selection declarations have to be separate.
    No text-shadow: twitter.com/miketaylr/status/12228805301
    Also: hot pink. */
    ::-moz-selection{ background: $base-selection-color; color:#fff; text-shadow: none; }
    ::selection { background:$base-selection-color; color:#fff; text-shadow: none; }

    //  j.mp/webkit-tap-highlight-color
    a:link {
          -webkit-tap-highlight-color: #FF5E99; }

    // make buttons play nice in IE:
    button {
        width: auto; overflow: visible; } }
