// Based on [Eric Meyer's reset](http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/)
// Global reset rules.
// For more specific resets, use the reset mixins provided below
//
// *Please Note*: tables still need `cellspacing="0"` in the markup.


// Reset the box model measurements.
@mixin z-reset-box-model {
    background:transparent;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; }


// Reset the font and vertical alignment.
@mixin z-reset-font {
    font: {
        weight: inherit;
        style: inherit;
        size: 100%;
        family: inherit; };
    vertical-align: baseline; }


// Reset the list style of an element.
@mixin z-reset-list-style {
    list-style: none; }


// Reset a table
@mixin z-reset-table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle; }


// Reset a table cell (`th`, `td`)
@mixin z-reset-table-cell {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }


// Reset a quotation (`q`, `blockquote`)
@mixin z-reset-quotation {
    quotes: none;
    &:before, &:after {
        content: none; content: "" } }


// Resets the border.
@mixin z-reset-image-anchor-border {
    border: none; }


@mixin z-global-reset {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        @include z-reset-box-model;
        @include z-reset-font; }
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display:block; }
    nav, ol, ul {
        @include z-reset-list-style; }
    table {
        @include z-reset-table; }
    caption, th, td {
        @include z-reset-table-cell; }
    q, blockquote {
        @include z-reset-quotation; }
    del {
        text-decoration: line-through; }
    abbr[title], dfn[title] {
        border-bottom:1px dotted; cursor:help; }
    input, select {
        vertical-align:middle; }
    a {
        @include z-reset-box-model;
        vertical-align: baseline; }
    a img {
        @include z-reset-image-anchor-border; } }
