/* ============================== */
/* Zeta import: 'zeta://zeta/z-reset/z-reset.css' */
/* From: 'None' */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ============================== */
/* Zeta import: 'zeta://zeta/z-base/z-base.scss' */
/* From: 'zeta://zeta/z-reset/z-reset.css' */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages */

body {
	font: 13px/1.231 sans-serif;
	*font-size: small}

select, input, textarea, button {
	font: 99% sans-serif}

pre, code, kbd, samp {
	font-family: monospace, sans-serif}

body, select, input, textarea {
	color: #444;
	font-family: Georgia, serif}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold}

html {
	overflow-y: scroll}

a:hover, a:active {
	outline: none}

a, a:active, a:visited {
	color: #607890}

a:hover {
	color: #036}

ul, ol {
	margin-left: 1.8em}

ol {
	list-style-type: decimal}

nav ul, nav li {
	margin: 0}

small {
	font-size: 85%}

strong, th {
	font-weight: bold}

td, td img {
	vertical-align: top}

sub, sup {
	position: relative;
	line-height: 0;
	font-size: 75%}

sup {
	top: -0.5em}

sub {
	bottom: -0.25em}

pre {
	padding: 15px;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word}

textarea {
	overflow: auto}

input[type="radio"] {
	vertical-align: text-bottom}

input[type="checkbox"] {
	vertical-align: bottom}

.ie7 input[type="checkbox"] {
	vertical-align: baseline}

.ie6 input {
	vertical-align: text-bottom}

label, input[type="button"], input[type="submit"], input[type="image"], button {
	cursor: pointer}

button, input, select, textarea {
	margin: 0}
/* colors for form validity */

input:invalid, textarea:invalid {
	box-shadow: 0 0 5px red;
	-webkit-box-shadow: 0 0 5px red;
	-moz-box-shadow: 0 0 5px red;
	border-radius: 1px}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
	background-color: red}

::-moz-selection {
	background: #ff5e99;
	color: #fff;
	text-shadow: none}

::selection {
	background: #ff5e99;
	color: #fff;
	text-shadow: none}

button {
	overflow: visible;
	width: auto}


/* ============================== */
/* Zeta import: 'zeta://zeta/z-typography/z-typography.css' */
/* From: 'zeta://zeta/z-base/z-base.scss' */
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em}

h6 {
	font-size: 1em;
	font-weight: bold}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0}

p {
	margin: 0 0 1.5em}

blockquote {
	color: #666;
	font-style: italic;
	margin: 1.5em}

strong, dfn {
	font-weight: bold}

em, dfn {
	font-style: italic}

sup, sub {
	line-height: 0}

abbr, acronym {
	border-bottom: 1px dotted #666}

address {
	font-style: italic;
	margin: 0 0 1.5em}


/* ============================== */
/* Zeta import: 'zeta://zeta/z-grid/z-grid.scss' */
/* From: 'zeta://zeta/z-typography/z-typography.css' */
.z-grid-1 {
	width: 60px}

.z-grid-2 {
	width: 140px}

.z-grid-3 {
	width: 220px}

.z-grid-4 {
	width: 300px}

.z-grid-5 {
	width: 380px}

.z-grid-6 {
	width: 460px}

.z-grid-7 {
	width: 540px}

.z-grid-8 {
	width: 620px}

.z-grid-9 {
	width: 700px}

.z-grid-10 {
	width: 780px}

.z-grid-11 {
	width: 860px}

.z-grid-12 {
	width: 940px}

.z-grid_table {
	overflow: hidden;
	zoom: 1;
	margin: 0 auto;
	width: 960px}

.z-grid_column {
	float: left;
	display: inline;
	overflow: hidden;
	zoom: 1;
	margin: 0 10px}

.z-grid_row {
	display: inline-block;
	margin: 0 -10px;
	width: auto}


/* ============================== */
/* Zeta import: 'zeta://zeta.css' */
/* From: 'zeta://zeta/z-grid/z-grid.scss' */
/* 
Zeta is a static framework.

 */


/* ============================== */
/* Zeta import: '/home/klen/Projects/github.com/zeta-library/zetalibrary/tests/zeta/test_helpers.scss' */
/* From: 'zeta://zeta.css' */
.test {
	float: left;
	display: block;
	display: inline;
	overflow: hidden;
	overflow: hidden;
	zoom: 1;
	background-repeat: no-repeat;
	direction: ltr;
	text-align: left;
	text-indent: -999em}

.test_center {
	display: block;
	margin-right: auto;
	margin-left: auto}

.test_center_round {
	box-shadow: 3px 4px 3px 1px rgba(10,10,10,0.45);
	-webkit-box-shadow: 3px 4px 3px 1px rgba(10,10,10,0.45);
	-moz-box-shadow: 3px 4px 3px 1px rgba(10,10,10,0.45);
	-webkit-border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
	border-radius: 3px 3px}


